*{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}
.body{
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(208, 208, 208, 1) 71%, rgba(159, 159, 159, 1) 100%);
}
.containerHeader{
    height: 4%;
    width: 100%;

    background-color: rgb(243, 242, 242); 
    columns: 3; 
}
.titolPrincipal{
    color: black;
    text-align: center;
}
.containerIziquierda{
    padding-left: 2%;
}

.container_Question{
    position: absolute;
    top: 15%;
    left: 30%;
    columns:2;
}
.containerSelect{
    margin-left: 50px;
}
.containerDescription{
    position: absolute;
    top: 30%;
    left: 30%;
}

label{
    font-size: 25px;
}
textarea {
    resize: none;
}

