*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins' , sans-serif;
}
.body{
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(208, 208, 208, 1) 71%, rgba(159, 159, 159, 1) 100%);
}

/*Pàgina principal - Part Header*/

.containerHeader{
    background-color: rgb(243, 242, 242); 
    columns: 2; 
}

.containerIziquierda{
    padding-left: 2%;
}

.containerDerecha{
    margin-top: 5px;
    float: right;
    font-size: 20px;
    vertical-align: center;
}
.clock{
    font-size: 30px;
}

/*Pàgina principal - Part centre de preguntes*/
.containerSeparator{
    display : flex;
    flex-direction : row;
}


.containerPreguntas{
    
    height: 80vh;
    width: 50%;
    margin-top: 2vw;
    margin-left: 2%;
    background-color: #FFFFFF;
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.212), 0 5px 40px 0 rgba(0,0,0,0.19);
}

.containerQuestion{
    /*overflow: auto;*/
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #FFFFFF ;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.39), 0 1px 20px 0 rgba(0, 0, 0, 0.233);
    height: 150px;
    
}

h1{
    font-size:40px;
    text-align: center;
}

.containerFooter{
    float: bottom;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.containerButton{
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.btnButtonEnviar{
    height: 30px;
    width: 100px;
}

/*Pàgina principal - Part Llista preguntes*/
.containerPreguntasEnviadas{
   float: right;
   width: 44%;
   margin-top: 2%;
   margin-left: 2%;
   background-color: #FFFFFF;
   box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.212), 0 5px 40px 0 rgba(0,0,0,0.19);
}
.txtTitolLlistat{
    text-align: center;
    margin-top: 3%;
}
/*Etiquetes genereals*/
p{
    font-size: 16px;
}