*{
    margin: 0;
    padding: 0%;
    font-family: 'Poppins' , sans-serif;
}
.body{
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(208, 208, 208, 1) 71%, rgba(159, 159, 159, 1) 100%);
}
.containerHeader{
    background-color: rgb(243, 242, 242); 
    columns: 2; 
}

.containerIziquierda{
    padding-left: 2%;
}

.containerDerecha{
    margin-top: 5px;
    padding-right: 4%;
    float: right;
    font-size: 20px;
    vertical-align: center;
}


.containerAmbTotaInformacio{
   width: 80%;
   margin-right: auto;
   margin-top: 50px;
   margin-left: 2%;
   height: 800px;
   background-color: #FFFFFF;
   box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.212), 0 5px 40px 0 rgba(0,0,0,0.19);
}

.containerInformació{
    text-align: center;
    margin: auto;
    height: 65px;
    padding-top: 10px;
}

.containerQuestion{
    margin: 20px;
    background-color: #FFFFFF ;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.39), 0 1px 20px 0 rgba(0, 0, 0, 0.233);
    height: 150px;
    padding-left: 10px;
    padding-top: 10px;
}

.txtTitolH1{
    font-size:40px;
}

.containerFooter{
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.containerButton{
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.btnButtonEnviar{
    height: 30px;
    width: 100px;
}

p{
    font-size: 16px;
}

@media screen and (max-width: 950px){
    *{
        width: 100%;
    }
}
