/*Pàgina principal - Part Header*/

.containerHeader{
    background-color: rgb(243, 242, 242); 
    columns: 2; 
}

.containerIziquierda{
    padding-left: 2%;
}

.containerDerecha{
    margin-top: 5px;
    float: right;
    font-size: 20px;
    vertical-align: center;
}
.clock{
    font-size: 30px;
}