.subrallat {
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width: 50%;
  
}
.seleccio{
    padding:9px 0;
    width: 50%;
    border:none;
    border-bottom:1px solid #ccc
}