<div class="container shadow p-3 mb-5 bg-body containerPreguntes">
    <form action="index.php" method="post">
        <p>str_user_name</p>
        <p>str_title</p>
        <p>str_description</p>
        <input type="hidden" name="idSala" value="str_idSala">
        <input type="hidden" name="idModul" value="str_idModul">
        <input type="hidden" name="idPregunta" value="str_idPregunta">
        <input type="hidden" name="desti" value="formulariPreguntes">
        <!-- <button type="submit" name="accio" value="eliminar" class="btn btn-danger btn-sm btnControlPreguntar">Eliminar Pregunta</button> -->
        <button type="submit" name="accio" value="resoldre" class="btn btn-success btn-sm btnControlPreguntar">Pregunta resolta</button>
    </form>
</div>