<div class="containerPreguntaFeta shadow p-3  bg-body rounded">
    <form action="index.php" method="post">
        <h5>Pregunta(es) feta(es)</h5>
        <p id="txtProblema">str_title_question</p>
        <p id="txtError">str_txt_question</p>
        <input type="hidden" name="desti" value="tancarPregunta">
        <button type="submit" name="accio" value="eliminar" class="btn btn-danger btn-sm btnControlPreguntar">Eliminar Pregunta</button>
        <button type="submit" name="accio" value="resoldre" class="btn btn-success btn-sm btnControlPreguntar">Pregunta resolta</button>
    </form>
</div>