<div class="divAñadirClase col-4 shadow p-3 mb-5 bg-body-tertiary rounded">
    <h5 class="text-center">Panell de professorat</h5>
    <hr>
    <form action="" method="post">
        <div class="mb-3">
            <label class="form-label" for="nomSala">Nom de la nova sala:</label>
            <input class="form-control" type="text" name="nomSala" id="nomSala" autofocus required>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label" for="selectGrup">Grup</label>
            <select class="form-select" aria-label="Default select example" required>
                <option selected hidden></option>
                <option value="1">DAM</option>
                <option value="2">DAW</option>
                <option value="3">ALTRES</option>
              </select>
        </div>

        <input type="submit" value="Crear sala" class="btn btn-success">
    </form>
</div>